/* start global rules */
* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* meduim */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.flexall {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul,
li,
form,
input,
button {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
/* end global rules */
/* start vars */
:root {
  --col1: #f7b249;
  --col2: #272626;
}
/* end vars */
/******************* start haeder *******************/
/* navbar */
.navbar {
  background-color: #fff;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
/* logo */
.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  background-color: var(--col1);
}
.logo img {
  width: 160px;
}
/* right part of nav */
.right-part {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: auto;
    padding-inline: 20px;
  }

  .logo img {
    width: 100px;
  }

  .right-part {
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 10px;
  }
}

/* hamburger menu */

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:before {
  background-color: var(--col1);
  width: 30px;
}

.hamburger-inner {
  right: 5px;
}

@media (min-width: 769px) {
  header .hamburger {
    display: none;
  }
}

/* top links */
.top-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  gap: 40px;
}
.top-links li a {
  display: flex;
  align-items: center;
  height: 55px;
  color: var(--col2);
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}
.top-links li a:hover,
.top-links li a.active {
  color: var(--col1);
}

@media screen and (max-width: 768px) {
  header nav .container {
    position: relative;
  }

  header nav .top-links {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    top: 55px;
    right: -100%;
    z-index: 9999999999;
    background-color: white;
    overflow: hidden;
    height: calc(100dvh - 55px);
    opacity: 0;
    transition: 0.3s;
  }

  header nav .top-links.active {
    right: 0%;
    opacity: 1;
  }
}
/* top icons */
.top-icons {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.top-icons .search-box {
  flex: 1;
}

.top-icons .search-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.top-icons .search-btn:focus {
  outline: none;
}

.top-icons i.fa-search {
  font-size: 18px;
  color: var(--col2);
  transition: 0.3s;
}
.top-icons i.fa-search:hover {
  color: var(--col1);
}
.top-icons .search-input {
  margin-right: 20px;
  border: 0;
  border-bottom: 2px solid var(--col1);
  padding: 10px;
  outline: 0;
  width: 80%;
  color: var(--col2);
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .top-icons {
    flex: 0;
  }
  .top-icons .search-input {
    width: 0;
    padding: 0;
  }
  .top-icons .search-box {
    display: flex;
  }
}

.top-icons .info-icon {
  font-size: 18px;
  color: #fff;
  background-color: var(--col1);
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* start landing */
.landing {
  /* background-color: rgba(255, 206, 100, 0.215); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 55px);
  background-image: url("../img/bg.avif");
  background-size: cover;
  background-position: center;
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0)
  );
}
.landing .container {
  position: relative;
}
/* top welcome */
.top-welcome {
  /*  background-color: #f7b2495e;*/
  padding: 50px 30px;
  width: 50%;
  border-left: 5px solid var(--col1);
}
.top-welcome h1,
.top-welcome h3 {
  margin: 0;
  text-transform: capitalize;
}
.top-welcome h1 {
  font-size: 50px;
  font-family: 600;
  color: #fff;
}
.top-welcome h3 {
  font-size: 30px;
  font-family: 600;
  color: #fff;
  margin-bottom: 30px;
}
.top-welcome a {
  color: #fff;
  font-size: 20px;
  border: 2px solid var(--col1);
  border-radius: 10px;
  padding: 10px 60px;
  transition: 0.3s;
  font-weight: 600;
  text-transform: uppercase;
}
.top-welcome a:hover {
  background-color: var(--col1);
}

/* top-welcome responsive */

@media (max-width: 768px) {
  .top-welcome {
    width: 100%;
    border-left: 0;
    text-align: center;
  }
  .top-welcome a {
    padding: 10px 30px;
  }
}

/******************* end haeder *******************/
/******************* start about us *******************/
.aboutus-sec {
  width: 100%;
  margin: 30px 0;
}
.heading-sec {
  position: relative;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
}
.aboutus-sec .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.text {
  width: 80%;
  text-align: center;
}
.heading-sec::before {
  content: "";
  width: 10%;
  height: 2px;
  background-color: var(--col1);
  position: absolute;
  z-index: 88;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}
.aboutus-sec .container img {
  height: 200px;
  margin-left: 30px;
}

/******************* end about us *******************/
/******************* start features *******************/
.features {
  width: 100%;
  margin: 30px 0;
}
.features .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.features img {
  width: 300px;
  height: 300px;
  margin: 10px;
}
.features .container .feat {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid #27262646;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feat div {
  width: 100%;
}
.features .container .feat i {
  color: var(--col2);
  font-size: 30px;
  transition: 0.3s;
}
.features .container .feat h4 {
  font-size: 20px;
  margin: 10px 0;
}
.features .container .feat p {
  margin: 0;
  font-size: 18px;
  color: var(--col2);
  transition: 0.3s;
}
.features .container .feat:hover {
  background-color: var(--col1);
  color: #fff;
  border: 0;
}
.features .container .feat:hover p,
.features .container .feat:hover i {
  color: #fff;
}
@media screen and (max-width: 708px) {
  .features .container .feat {
    width: 300px;
    height: 300px;
  }
  .features .container .feat i {
    font-size: 18px;
  }
  .features .container .feat p {
    font-size: 15px;
  }
  .features .container .feat h4 {
    font-size: 18px;
  }
  .features .container img {
    display: none;
  }
}
@media (max-width: 768px) {
  .features .container .feat,
  .features .container img {
    width: 200px;
    height: 200px;
  }
  .features .container .feat i {
    font-size: 18px;
  }
  .features .container .feat p {
    font-size: 15px;
  }
  .features .container .feat h4 {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .features .container .feat,
  .features .container img {
    width: 200px;
    height: 200px;
  }
  .features .container .feat i {
    font-size: 18px;
  }
  .features .container .feat p {
    font-size: 15px;
  }
  .features .container .feat h4 {
    font-size: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1201px) {
  .features .container .feat,
  .features .container img {
    width: 250px;
    height: 250px;
  }
}

/******************* end features *******************/
/******************* start projects *******************/
.project-sec {
  width: 100%;
  background-image: url(../img/bg1.jpg);
}
.overlay-proj {
  background-color: #f7b249d0;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}
.project-sec .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.proj {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
.proj:nth-child(1),
.proj:nth-child(6) {
  width: 510px;
}
.proj img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-sec .p-s-info {
  width: 100%;
  height: 100%;
  background-color: #ff5e1483;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  opacity: 0;
  z-index: 5;
}
.p-s-info:hover {
  opacity: 1;
}
.proj img:hover {
  pointer-events: none;
}
.project-sec .p-s-info div {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.project-sec .p-s-info div a {
  color: #fff;
  font-size: 25px;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .proj,
  .proj:nth-child(6) {
    width: 47%;
  }
  .project-sec .container {
    justify-content: space-between;
  }
  .proj:nth-child(1),
  .proj:nth-child(4) {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .proj,
  .proj:nth-child(6) {
    width: 48%;
    margin: 10px 0;
  }
  .project-sec .container {
    justify-content: space-between;
  }
  .proj:nth-child(1),
  .proj:nth-child(4) {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1201px) {
  .proj:nth-child(1),
  .proj:nth-child(4),
  .proj:nth-child(5) {
    width: 70%;
  }
  .proj:nth-child(2),
  .proj:nth-child(3),
  .proj:nth-child(6) {
    width: 25%;
  }
}
/******************* end projects *******************/
/******************* start posts *******************/
.posts-h {
  width: 100%;
  padding: 30px 0;
}
.posts-h .container .post-h-p {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-wrap: wrap;
  margin-top: 30px;
}
.posts-h .container .post-h-p .post-h {
  overflow: hidden;
  margin: 5px;
}
.post-h img {
  width: 100%;
}
.p-h-b {
  text-align: center;
  margin: 50px 0;
}
.p-h-b a {
  padding: 10px 20px;
  border: 1px solid var(--col1);
  border-radius: 5px;
  font-size: 20px;
  text-transform: capitalize;
  color: var(--col2);
  transition: 0.3s;
}
.p-h-b a:hover {
  background-color: var(--col1);
  color: #fff;
}

/******************* end posts *******************/
/******************* start staff *******************/
.staff {
  width: 100%;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.staff .heading-sec {
  margin-bottom: 50px;
  color: white;
}
.overlay-staff {
  background-color: #284b74a3;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

.staff-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.staff-box .staff-1 {
  flex-basis: calc(25% - 10px);
  height: 350px;
  position: relative;
}
.staff-box .staff-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.staff-info {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f7b249b1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}
.staff-info:hover {
  opacity: 1;
}
.staff-info div {
  position: absolute;
  bottom: 0;
  left: 20px;
}
.staff-info div h3 {
  margin: 0;
  font-size: 25px;
  color: var(--col2);
  font-weight: 800;
  text-transform: capitalize;
}
.staff-info div p {
  margin: 0;
  color: #fff;
}
.staff-info div ul {
  margin: 10px 0;
  display: flex;
}
.staff-info div ul li {
  font-size: 20ox;
  margin-right: 10px;
}
.staff-info div ul li i {
  color: #fff;
}
/******************* end staff *******************/
/******************* start partner *******************/
.partner {
  width: 100%;
  padding: 20px;
}
.partner .heading-sec {
  margin: 0 0 30px 0;
}
.all-partner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.all-partner img {
  filter: grayscale(1);
  opacity: 0.5;
  margin: 10px;
  transition: 0.3s;
}
.all-partner img:hover {
  filter: grayscale(0);
  opacity: 1;
}
/******************* end partner *******************/
/******************* start footer *******************/
.footer {
  background-color: var(--col2);
}
/* subscribe part */
.subs {
  width: 100%;
  color: #fff;
}
.container .subs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
.subs form input.email {
  border: 1px solid rgba(221, 221, 221, 0.151);
  outline: none;
  background-color: rgb(31, 31, 31);
  color: #fff;
  padding: 10px 20px;
  width: 300px;
  margin: 0;
}
.subs form input.send {
  border: none;
  outline: none;
  background-color: var(--col1);
  color: #fff;
  padding: 10px 20px;
  margin: 0;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer-logo {
    display: none;
  }
  .footer .subs h3 {
    text-align: center;
    width: 100%;
  }
  .footer form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .footer-logo {
    display: none;
  }
}
/* footer sections */
.footer-sec {
  width: 100%;
  background-color: var(--col2);
  color: #fff;
}
.footer-sec {
  display: flex;
  justify-content: space-around;
  padding: 0 0 20px 0;
  flex-wrap: wrap;
}
.footer-sec .sec {
  width: 24%;
  overflow: hidden;
}
.footer-sec .sec h4 {
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}
.footer-sec .sec h4::before {
  content: "";
  width: 30%;
  height: 1px;
  background-color: var(--col1);
  position: absolute;
  z-index: 88;
  bottom: -10px;
}
.footer-sec .sec p {
  color: rgb(119, 117, 117);
  max-width: 90%;
  margin-bottom: 30px;
}
.footer-sec .sec .footer-socialmedia {
  display: flex;
  justify-content: space-around;
  max-width: 90%;
}
.footer-sec .sec .footer-socialmedia li a {
  color: #fff;
}
.footer-sec .sec i {
  margin: 0 15px 0 0;
}
.footer-sec .sec a {
  color: #fff;
  transition: 0.3s;
}
.footer-sec .sec li {
  width: 100%;
  display: flex;
  margin: 20px 0;
  align-items: center;
}
.footer-sec .sec .footer-links a:hover {
  color: var(--col1);
}
.footer-sec .sec .footer-info li p {
  margin: 0;
}
.footer-sec .sec .footer-info li i {
  color: #fff;
  background-color: var(--col1);
  padding: 8px;
  margin: 0 20px 0 0;
  font-size: 15px;
}
.footer-sec .sec .footer-posts li img {
  height: 80px;
  width: 80px;
  margin-right: 20px;
  object-fit: cover;
}
.footer-sec .sec .footer-posts li .f-p-info a h5 {
  margin: 0 0 10px 0;
  font-size: 18px;
}
.footer-sec .sec .footer-posts li .f-p-info a.readmore {
  color: var(--col1);
}
@media (max-width: 768px) {
  .footer-sec {
    flex-wrap: wrap;
  }
  .footer-sec .sec {
    width: 49%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-sec .sec p {
    max-width: 100%;
  }
  .footer-sec .sec .footer-socialmedia {
    margin: 0;
    max-width: 100%;
  }
  .footer-sec .sec h4 {
    margin-bottom: 30px;
  }
  .footer-sec .sec li {
    justify-content: center;
  }

  .footer-sec .sec .footer-posts .f-p-info {
    text-align: left;
  }
}
@media (max-width: 550px) {
  .footer-sec {
    flex-wrap: wrap;
  }
  .footer-sec .sec {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-sec .sec p {
    max-width: 100%;
  }
  .footer-sec .sec .footer-socialmedia {
    margin: 0;
    max-width: 100%;
  }
  .footer-sec .sec h4 {
    margin-bottom: 30px;
  }
  .footer-sec .sec li {
    justify-content: center;
  }
}

/* footer sections */
.footer .copy {
  background: rgb(31, 31, 31);
  text-align: center;
  color: #fff;
  padding: 20px 10px;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.5;
}
.footer .copy a {
  color: var(--col1);
  text-transform: capitalize;
}
/******************* end footer *******************/

/* top welcome */

/* top welcome */

/* top welcome */

/* top welcome */

/* top welcome */

/* top welcome */

/* top welcome */

/* top welcome */

/* top welcome */

/* top welcome */

/* top welcome */

/* top welcome */

/* top welcome */
